<div class="box-main">
  <stf-text [stf-label]="'Textos components'" [stf-size]="'subtitle'" [stf-weight]="'700'"></stf-text>

  <h3>Colores</h3>
  <div class="box-buttons-default">
    <stf-text [stf-label]="'Texto prueba 1'" [stf-size]="'subtitle'"></stf-text>
    <stf-text [stf-label]="'Texto prueba 2'" [stf-size]="'subtitle'" [stf-color]="'secondary'"></stf-text>
    <stf-text [stf-label]="'Texto prueba 3'" [stf-size]="'subtitle'" [stf-color]="'success'"></stf-text>
    <stf-text [stf-label]="'Texto prueba 4'" [stf-size]="'subtitle'" [stf-color]="'info'"></stf-text>
    <stf-text [stf-label]="'Texto prueba 5'" [stf-size]="'subtitle'" [stf-color]="'danger'"></stf-text>
    <stf-text [stf-label]="'Texto prueba 6'" [stf-size]="'subtitle'" [stf-color]="'warning'"></stf-text>
  </div>

  <h3>Tamaños</h3>
  <div class="box-buttons-default">
    <stf-text [stf-label]="'Texto prueba 1'" [stf-weight]="'900'"></stf-text>
    <stf-text [stf-label]="'Texto prueba 2'" [stf-size]="'subtitle'"></stf-text>
    <stf-text [stf-label]="'Texto prueba 3'" [stf-size]="'body'"></stf-text>
    <stf-text [stf-label]="'Texto prueba 4'" [stf-size]="'detail'"></stf-text>
  </div>
</div>
