<div class="box-main">
  <h1>Prueba de la Librería</h1>

  <nav>
    <a routerLink="/card">Cards</a>
    <a routerLink="/naginator">Naginator</a>
    <a routerLink="/paginator">Paginator</a>
    <a routerLink="/icon-dropdown">Icon dropdown</a>
    <a routerLink="/image-selector">Select imagen</a>
    <a routerLink="/input-color">Input color</a>
    <a routerLink="/select">Select</a>
    <a routerLink="/input">Input</a>
    <a routerLink="/text">Textos</a>
    <a routerLink="/button">Botones</a>
    <a routerLink="/date-picker">Date Picker</a>
    <a routerLink="/icon">Iconos</a>
    <a routerLink="/checkbox">Checkbox</a>
  </nav>
</div>
